services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - '${POSTGRES_PORT}:5432'

    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped

    ports:
      - '6379:6379'

    volumes:
      - redis_data:/data

    command: ['redis-server', '--appendonly', 'yes']

volumes:
  pg_data:
  redis_data:
