version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres

    env_file:
      - .env

    ports:
      - '${POSTGRES_PORT}:5432'

    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
